<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TCA Lighting System</title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Current status:</h1>
    <div style="width: 100px; height: 100px"><%- include("./partials/currentState.ejs") %></div>
    <h2>Current Set</h2>
    <p><%= GLOBALS.SET.name %></p>
    <button>Previous</button><button>Next</button>
    <h2>Current BPM</h2>
    <p><%= GLOBALS.BPM %> BPM</p>
    <button>Tap BPM</button>
    <h1>Sets</h1>
    <ul>
      <% for (let i = 0; i < GLOBALS.SETS.length; i++) { %>
      <li><a href="/sets/<%= GLOBALS.SETS[i].id %>"><%= GLOBALS.SETS[i].name %></a></li>
      <% } %>
      <li><a href="/sets/create">Create New Set</a></li>
    </ul>
    <button onclick="reloadSets()">Reload Sets</button>

    <script>
      function reloadSets() {
        fetch("/api/reload-sets", { method: "POST" }).then(() => {
          location.reload();
        });
      }
    </script>
  </body>
</html>
